<div class="d-flex flex-column justify-content-between align-items-center">
    <div id="messages" class="container">
        
    </div>
    <form id="message-form" style="margin-top: 50px;" class="d-flex flex-column">
        <input type="hidden" id="message-email" value={{email}} />
        <textarea id="message-content" rows="3" class="p-2" style="border-radius: 6px; outline: none; margin-bottom: 20px;"></textarea>
        <button class="btn btn-dark">Send</button>
    </form>
</div>